<head>
  <title> Flask-Electron test </title>
  <style>
  * { font-family: Helvetica, sans-serif;}
  </style>

  {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>
    function load () {
	function reqListener () {
        document.getElementById("dynamic").innerHTML = this.responseText;
      }
      xhttp = new XMLHttpRequest();
      xhttp.addEventListener("load", reqListener);
      xhttp.open('GET', 'HelloWorld');
      xhttp.send();
    }
  </script>

</head>

<body>
  <h1>Electron-Flask test!!</h1>
  <button onclick="load()">Access the API</button>
  <p id="dynamic"></p>

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

</body>
